
        <div class="row gx-4 my-2 mx-1">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    <img
                        src="{{$document->photo}}"
                        alt="profile_image"
                        class="w-100 border-radius-lg shadow-sm"
                        width="100px" height="100px"
                    />
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">{{$user->nom.' '.$user->prenom}}</h5>
                    <p class="mb-0 font-weight-normal text-sm">
                        {{$user->datenaissance}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-md-8 d-flex align-items-center">
                                    <h6 class="mb-0">Profile Information</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group">
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Email:</strong> {{$user->email}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Phone:</strong> {{$user->telephone}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Code Massar:</strong> {{$user->codemassar}} </li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>CIN:</strong> {{$user->cin}} </li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>date de naissance:</strong> {{$user->datenaissance }}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>lieu de naissance:</strong> {{$user->lieunaissance}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>ville:</strong> {{$user->ville}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>adresse:</strong> {{$user->adresse}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>sexe:</strong> {{$user->sexe}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Baccalaureat & Diplome</h6>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group">
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Type baccalaureat :</strong> {{$baccalaureat->typebaccalaureat}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Mention baccalaureat :</strong> {{$baccalaureat->mentionbac}}</li>
                            </ul>
                            <hr class="horizontal gray-light my-4" />
                            <ul class="list-group">
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Type diplome :</strong> {{$diplome->optiondiplome}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Etablissement :</strong> {{$diplome->etablissement}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Ville etablissement :</strong> {{$diplome->villeetablissement}}</li>
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>Moyenne diplome:</strong> {{$diplome->moyenne}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Semestre & Matière</h6>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group">
                                @foreach ( $semestres as $semestre )
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>{{$semestre->semestre}} :</strong> {{$semestre->moyenne}}</li>
                                @endforeach
                            </ul>
                            <hr class="horizontal gray-light my-4" />
                            <ul class="list-group">
                                @foreach ( $sousmodules as $sousmodule )
                                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong>{{$sousmodule->sousmodule}} :</strong> {{$sousmodule->note}}</li>
                                @endforeach
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="mb-5 ps-3">
                        <h6 class="mb-1">Documents</h6>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="card-header p-0 mt-n4 mx-3">
                                    <h6 class="m-2">Baccalaureat</h6>
                                </div>
                                <div class="card-body p-3">
                                    <button class="toggle-button">Show More</button>
                                    <div class="toggle-div" style="display: none;">
                                        <a href="{{ url($document->baccalaureat) }}" target="_blank">View PDF</a>
                                        <iframe src="{{ url($document->baccalaureat) }}" width="100%" height="400px"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="card-header p-0 mt-n4 mx-3">
                                    <h6 class="m-2">Diplome</h6>
                                </div>
                                <div class="card-body p-3">
                                    <button class="toggle-button">Show More</button>
                                    <div class="toggle-div" style="display: none;">
                                        <a href="{{ url($document->diplome) }}" target="_blank">View PDF</a>
                                        <iframe src="{{ url($document->diplome) }}" width="100%" height="400px"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="card-header p-0 mt-n4 mx-3">
                                    <h6 class="m-2">Relvés</h6>
                                </div>
                                <div class="card-body p-3">
                                    <button class="toggle-button">Show More</button>
                                    <div class="toggle-div" style="display: none;">
                                        <a href="{{ url($document->relves) }}" target="_blank">View PDF</a>
                                        <iframe src="{{ url($document->relves) }}" width="100%" height="400px"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="card-header p-0 mt-n4 mx-3">
                                    <h6 class="m-2">Demande</h6>
                                </div>
                                <div class="card-body p-3">
                                    <button class="toggle-button">Show More</button>
                                    <div class="toggle-div" style="display: none;">
                                        <a href="{{ url($document->demande) }}" target="_blank">View PDF</a>
                                        <iframe src="{{ url($document->demande) }}" width="100%" height="400px"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>